@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
/* Global Css */

/* ---- Global Veriable */

:root {
  --blue-100: #d1e9ff;
  --blue-dark: #004eeb;
  --blue-700: #175cd3;
  --gray-900: #101828;
  --gray-800: #1d2939;
  --gray-600: #475467;
  --gray-500: #667085;
  --gray-400: #98a2b3;
  --gray-300: #d0d5dd;
  --gray-200: #eaecf0;
  --gray-100: #f2f4f7;
  --gray-50: #f9fafb;
  --base-white: #ffffff;
}

/* --- Normalization ---- */
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--base-white);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: calc(16px + 0.039vw);
  box-sizing: inherit;

  padding-top: 40px;
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: var(--gray-800);
}

p {
  font-weight: 400;
  font-size: clamp(1rem, 4.5vw, 1.5rem);
  line-height: 32px;
  color: var(--gray-500);
}

h1 {
  font-size: clamp(2.5rem, 2.5vw, 4rem);
}

h2 {
  font-size: clamp(2rem, 2.5vw, 3rem);
}

h3 {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

.autoAlign {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
